ci:
  autoupdate_commit_msg: "chore: update pre-commit hooks"
  autofix_commit_msg: "style: pre-commit fixes"
exclude: '^\.basedpyright/baseline.*\.json$'
repos:
  - repo: https://github.com/psf/black
    rev: "25.1.0"
    hooks:
      - id: black
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.16.0"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.12.2"
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.6.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
  - repo: https://github.com/google/yamlfmt
    rev: "v0.15.0"
    hooks:
      - id: yamlfmt
  #- repo: https://github.com/executablebooks/mdformat/
  #  rev: "1.0.0"
  #  hooks:
  #    - id: mdformat
  #- repo: https://github.com/abravalheri/validate-pyproject
  #  rev: "v0.23"
  #  hooks:
  #    - id: validate-pyproject
  #      additional_dependencies: ["validate-pyproject-schema-store[all,store]"]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.28.2"
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
