[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "bfabric_app_runner"
description = "Application runner for B-Fabric apps"
version = "0.0.14"
license = { text = "GPL-3.0" }
authors = [
    {name = "Leonardo Schwarz", email = "leonardo.schwarz@fgcz.ethz.ch"},
]
requires-python = ">=3.12"
dependencies = [
    "bfabric==1.13.18",
    "pydantic",
    "glom",
    "mako",
]

[project.scripts]
"bfabric-app-runner"="bfabric_app_runner.cli.__main__:app"
"app-runner"="bfabric_app_runner.cli.__main__:app"

[project.optional-dependencies]
doc = [
    "sphinx",
    "myst-parser",
    "autodoc_pydantic",
    "sphinx-book-theme",
    "sphinx-autobuild",
    "sphinxcontrib-plantuml",
]
dev = [
    "app_runner[doc]",
    "bfabric[dev, typing]",
    "mypy",
    "types-PyYAML",
]
test = ["pytest", "pytest-mock", "logot"]

[tool.uv]
reinstall-package = ["bfabric", "bfabric_scripts", "bfabric_app_runner"]

[tool.black]
line-length = 120
target-version = ["py311"]

[tool.ruff]
line-length = 120
indent-width = 4
target-version = "py311"

[tool.ruff.lint]
select = ["ANN", "BLE", "D103", "E", "EXE", "F", "N", "PLW", "PTH", "SIM", "TCH", "UP", "W191"]
ignore = ["ANN401"]

[tool.ruff.lint.pep8-naming]
classmethod-decorators = [
    "pydantic.validator",
    "pydantic.field_validator",
]

[tool.ruff.lint.per-file-ignores]
# This is needed because of false positives in cyclopts code
"**/bfabric_app_runner/cli/**" = ["TCH001", "TCH002", "TCH003"]
