name: PR Checks

on:
  push:
    branches: [ main, dev-bfabric-2 ]
  pull_request:
    branches: [ main, dev-bfabric-2 ]
  workflow_dispatch:

jobs:
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-bfabricpy
        with:
          python-version: 3.9
      - name: Run unit tests
        run: python -m unittest discover -s bfabric/tests/unit -p 'test_*.py'
  code_style:
    name: Code Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-bfabricpy
        with:
          python-version: 3.9
      - name: Check code with ruff
        run:
          ruff bfabric || true
  list_todos:
    name: List TODOs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y ripgrep
        name: Install ripgrep
      - run:
          ripgrep -n TODO bfabric
        name: List TODOs
  license_check:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-bfabricpy
        with:
          python-version: 3.9
      - name: Check licenses
        run: licensecheck
